# 9 Group by

In [1]:
import pandas as pd

df=pd.read_csv("house_prices_dataset/train.csv")
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

## 9.1 Group by common functions

In [2]:
df.MSZoning.value_counts()

RL         1151
RM          218
FV           65
RH           16
C (all)      10
Name: MSZoning, dtype: int64

In [4]:
# df.groupby('MSZoning').count()
# df.groupby('MSZoning').mean()
# df.groupby('MSZoning').first()
# df.groupby('MSZoning').last()
df.groupby('MSZoning').count()['SalePrice']

MSZoning
C (all)      10
FV           65
RH           16
RL         1151
RM          218
Name: SalePrice, dtype: int64

In [5]:
# or multiple columns
grouped = df.groupby(['MSZoning', 'Alley']).sum()
grouped

                   Id  MSSubClass  LotFrontage  LotArea  OverallQual  \
MSZoning Alley
C (all)  Pave     743         120        116.0    17212            8
FV       Pave   17673        3020        940.0   100000          166
RH       Pave    1318         240        115.0    15396           11
RL       Grvl   12459         880        807.0   140052           63
         Pave    4249         345        234.0    61720           35
RM       Grvl   24336        2315       2095.0   306573          196
         Pave    5799         490        415.0    49750           43

                OverallCond  YearBuilt  YearRemodAdd  MasVnrArea  BsmtFinSF1  \
MSZoning Alley
C (all)  Pave            11       3820          3900         0.0           0
FV       Pave           120      48089         48099      5327.0        6927
RH       Pave            12       3846          3995         0.0         438
RL       Grvl            84      26883         27612         0.0        3843
         Pave            36      11547         11826         0.0         946
RM       Grvl           229      69104         71014       875.0        3365
         Pave            44      13399         13925         0.0        1266

                ...  WoodDeckSF  OpenPorchSF  EnclosedPorch  3SsnPorch  \
MSZoning Alley  ...
C (all)  Pave   ...          68           54            270          0
FV       Pave   ...         731         2559              0          0
RH       Pave   ...           0          110             56          0
RL       Grvl   ...        1308          563            818          0
         Pave   ...           0          160            636          0
RM       Grvl   ...        1218         2068           2935          0
         Pave   ...         181          227           1143          0

                ScreenPorch  PoolArea  MiscVal  MoSold  YrSold  SalePrice
MSZoning Alley
C (all)  Pave             0         0        0       8    4018     142776
FV       Pave           198         0        0     144   48179    4223335
RH       Pave             0         0        0      10    4016     359434
RL       Grvl             0         0     1300      83   28108    1592650
         Pave           220         0        0      38   12050    1058000
RM       Grvl           480         0     1600     230   72275    4518304
         Pave             0         0        0      45   14057    1104479

[7 rows x 38 columns]

In [6]:
grouped.index # note the index

MultiIndex([('C (all)', 'Pave'),
            (     'FV', 'Pave'),
            (     'RH', 'Pave'),
            (     'RL', 'Grvl'),
            (     'RL', 'Pave'),
            (     'RM', 'Grvl'),
            (     'RM', 'Pave')],
           names=['MSZoning', 'Alley'])

# 9.2 Group by detailed

In [7]:
grp = df.groupby('MSZoning')
df.groupby('MSZoning')

In [7]:
grp.groups # dict where key is the name of the group and value is the index

{'C (all)': Int64Index([30, 88, 93, 495, 557, 711, 812, 916, 1061, 1279], dtype='int64'),
 'FV': Int64Index([  47,   56,   87,  105,  115,  158,  180,  212,  240,  256,  270,
              281,  285,  297,  317,  377,  381,  399,  409,  412,  453,  460,
              501,  507,  525,  549,  578,  603,  623,  641,  644,  650,  686,
              687,  699,  755,  758,  762,  824,  829,  831,  864,  875,  885,
              914,  959,  973,  975,  977,  989, 1087, 1089, 1091, 1172, 1191,
             1217, 1246, 1265, 1317, 1358, 1364, 1365, 1374, 1442, 1454],
            dtype='int64'),
 'RH': Int64Index([ 341,  383,  543,  635,  671,  681,  778,  840,  913,  951,  955,
             1030, 1206, 1234, 1264, 1326],
            dtype='int64'),
 'RL': Int64Index([   0,    1,    2,    3,    4,    5,    6,    7,    9,   10,
             ...
             1447, 1448, 1450, 1451, 1453, 1455, 1456, 1457, 1458, 1459],
            dtype='int64', length=1151),
 'RM': Int64Index([   8,   15,   21,   23,   29,   48,   51,   52,   61,   63,
             ...
             1400, 1405, 1408, 1416, 1422, 1428, 1438, 1441, 1449, 1452],
            dtype='int64', length=218)}

In [8]:
grp.groups['C (all)']

Int64Index([30, 88, 93, 495, 557, 711, 812, 916, 1061, 1279], dtype='int64')

In [8]:
df.loc[grp.groups['C (all)']]

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
30,31,70,C (all),50.0,8500,Pave,Pave,Reg,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,7,2008,WD,Normal,40000
88,89,50,C (all),105.0,8470,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,MnPrv,NaN,0,10,2009,ConLD,Abnorml,85000
93,94,190,C (all),60.0,7200,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,11,2007,WD,Normal,133900
495,496,30,C (all),60.0,7879,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,GdWo,NaN,0,11,2009,WD,Abnorml,34900
557,558,50,C (all),60.0,11040,Pave,NaN,Reg,Low,AllPub,...,0,NaN,NaN,NaN,0,9,2006,COD,Normal,108000
711,712,50,C (all),66.0,8712,Pave,Pave,Reg,HLS,AllPub,...,0,NaN,NaN,NaN,0,1,2010,WD,Abnorml,102776
812,813,20,C (all),66.0,8712,Grvl,NaN,Reg,Bnk,AllPub,...,0,NaN,NaN,Shed,54,6,2010,WD,Alloca,55993
916,917,20,C (all),50.0,9000,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,10,2006,WD,Abnorml,35311
1061,1062,30,C (all),120.0,18000,Grvl,NaN,Reg,Low,AllPub,...,0,NaN,NaN,Shed,560,8,2008,ConLD,Normal,81000
1279,1280,50,C (all),60.0,7500,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,4,2010,COD,Abnorml,68400

# 9.3 Group by columns
Default is axis param set to 0 which means row, but we canset it to columns ... To make thing interesting we can provide agroup by function

In [9]:
df.head()

,Id,MSSubClass,MSZoning,LotFrontage,LotArea,Street,Alley,LotShape,LandContour,Utilities,...,PoolArea,PoolQC,Fence,MiscFeature,MiscVal,MoSold,YrSold,SaleType,SaleCondition,SalePrice
0,1,60,RL,65.0,8450,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2008,WD,Normal,208500
1,2,20,RL,80.0,9600,Pave,NaN,Reg,Lvl,AllPub,...,0,NaN,NaN,NaN,0,5,2007,WD,Normal,181500
2,3,60,RL,68.0,11250,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,9,2008,WD,Normal,223500
3,4,70,RL,60.0,9550,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,2,2006,WD,Abnorml,140000
4,5,60,RL,84.0,14260,Pave,NaN,IR1,Lvl,AllPub,...,0,NaN,NaN,NaN,0,12,2008,WD,Normal,250000

In [10]:
def starts_with_m(column_name):
    if str.startswith(column_name, "M"):
        return "M_column"
    return "Other_column"

In [11]:
grouped = df.groupby(starts_with_m, axis=1)
grouped.first()

      M_column  Other_column
0           60             1
1           20             2
2           60             3
3           70             4
4           60             5
...        ...           ...
1455        60          1456
1456        20          1457
1457        70          1458
1458        20          1459
1459        20          1460

[1460 rows x 2 columns]

## 9.4 Group by custom function
Lets say we want to know sum of the lot area and lot frontage for all the MSZonings. To prevent you from this

In [12]:
grp = df.groupby('MSZoning')

In [13]:
for key, group in grp:
    print((group.LotArea + group.LotFrontage).sum())

95710.0
401857.0
90710.0
10144782.0
1303061.0

Pandas allows you to pass custom function to the grop by like:

In [14]:
df.groupby('MSZoning').apply(lambda x: (x.LotArea + x.LotFrontage).sum())

MSZoning
C (all)       95710.0
FV           401857.0
RH            90710.0
RL         10144782.0
RM          1303061.0
dtype: float64

In [15]:
# or funciton specified ouside like
def area_frontage_sum(group):
    return (group.LotArea + group.LotFrontage).sum()

df.groupby('MSZoning').apply(area_frontage_sum)

MSZoning
C (all)       95710.0
FV           401857.0
RH            90710.0
RL         10144782.0
RM          1303061.0
dtype: float64

You can also pass arguments

In [16]:
def area_frontage_sum(group, multiplier):
    return (group.LotArea + group.LotFrontage).sum() * multiplier

df.groupby('MSZoning').apply(area_frontage_sum, multiplier=2)

MSZoning
C (all)      191420.0
FV           803714.0
RH           181420.0
RL         20289564.0
RM          2606122.0
dtype: float64

## 9.5 Detailed reading
there is so much to do with the group by what you can find here:
https://pandas.pydata.org/pandas-docs/stable/user_guide/groupby.html